@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-light-white: 248 248 248;
    --theme-white: 245 245 245;
    --theme-dark-white: 239 239 239;
    --theme-light-gray: 229 229 229;
    --theme-gray: 217 217 217;
    --theme-dark-gray: 161 161 161;
    --theme-darker-gray: 96 96 96;
    --theme-light-black: 59 59 59;
    --theme-black: 48 48 48;
    --theme-dark-black: 34 34 34;
    --theme-yellow: 246 174 45;
    --theme-red: 255 0 0;
    --theme-blue: 1 133 255;
}